//
// Custom CSS 
/////////////////////////////////////////



// Woocommerce CSS
//////////////////////////
#header-content .wc_bookings_field_resource {
    display: none;
}
#header-content .woocommerce ul.products li.product {
    width: 100%;
}

.product-quantity {
    display: none !important;
}

.woocommerce-page .cart-collaterals .cross-sells {
    
    width: 100%;

		ul.products {
		    margin-top: 2em;

			li {

				@media (min-width: $screen-sm) {
			    width: 22%;

			    }
			}	
				    
		}

}

.woocommerce-button.button.order-again {
    margin-left: 20px;
}

.wc-bookings-booking-form {
    border: none;
    padding: 1em 0;
}