@mixin position( $position: relative, $top: auto , $right: auto , $bottom: auto , $left: auto ) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}  // faster way to absolutely position items
@mixin awesome(){
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} // use css to add icons instead of html, just include this mixin and - content: $fa-var-icon-name;
@mixin djlBackground($bg: #000, $color: #FFF) {
  background-color: $bg;
  color: $color;
  * { color: $color }
  &.btn:hover { 
    background-color: darken($bg,10%);
    color: $color; 
  }
}
@mixin djlColor($color: #000) {
  color: $color;
}
@mixin djlLinkColor($color: #000) {
  color: $color;
  &:hover, &:focus {
    color: lighten($color,10%);
  }
}